body{background: #5eb5e0}
header{padding: 20px; background: #999999}
footer{padding: 20px; background: #999999}

.logo {font-size:200%; color: #dfdfdf; font-weight: bold;}
.content{background: #dfdfdf; padding-bottom: 20px;}