{% extends 'base.html.twig' %}

{% block title %} Twig Test {% endblock %}

{% block body %}
    <h1>All categories</h1>
    <form method="get">
        <input type="text" name="searchfor" value="{{ searchfor }}"/>
        <button> Search </button>
    </form>
    <ul>
       {% for category in categories %}
           <li><a href="/db/editcategory/{{ category.getCategoryid() }}"> {{ category.getCategoryname() }}</a>
           <a href="/db/delete/{{ category.getCategoryid() }}">[Delete]</a>
           </li>
        {% endfor %}
    </ul>

{% endblock %}
