{% extends 'base.html.twig' %}

{% block title %} Twig Test {% endblock %}

{% block body %}

    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">List</h2>
            <p class="lead">of names</p>
            <form class="col-sm-6, form-center" method="get" >
                <div class="input-group">
                    <input type="text" name="searchfor" class="form-control" placeholder="" value="{{ searchfor }}">
                    <button type="submit" class="btn btn-secondary">Search</button>
                </div>
            </form>
        </div>
        <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>

    <ul>
       {% for item in items %}
           <form action="/db/edititem/{{ item.getId() }}">
               <button class="btn btn-light">{{ item.getName() }}</button>
           </form>

        {% endfor %}
    </ul>

{% endblock %}
