{% extends 'base.html.twig' %}

{% block title %} Twig Test {% endblock %}

{% block body %}
<h1>{{ message }}</h1>

    <ul>
    {% for person in people %}
        <li>{{ person.firstname }} {{ person.lastname }}</li>
    {% endfor %}
    </ul>
{% endblock %}
